


<p></p>

<div class="card-deck cn" style="width: 70rem; height:4rem">
  <div class="row">

    <% @faculties.each do |faculty| %>
    <div class="col-4">
      <p>  

        <div class="card"  >
          <img src='/assets/db.jpg' alt="" height="200" >
          <div class="card-body bg ">
            <h4 class="card-title"><%= faculty.faculty_name %></h4>

            <h6 class="card-text">  Faculty Name </h6>
            <p class="card-text"> <%= faculty.faculty_name %>
            </p>
            <h6 class="card-text"> Faculty Email Id </h6>
            <p class="card-text"> <%= faculty.email %>
            </p>


          </div>
          <div class="card-footer">
            <small class="text-muted">join us</small>
          </div>
        </div>
      </p>
    </div>
    <% end %>
  </div> 

</div>
<style type="text/css">
  .bg{background: -webkit-linear-gradient(to left, #000066, #000066, #000066);
    background: linear-gradient(to bottom right, #ccccff 0%, #ffffff 100%);
    padding: 30px;
    text-align: left;
    font-size: 16px;
    size: 9876px;
    
  }
  .cn{position: relative;
left: 70px;
bottom:0;}


 
</style>







