
<body>
<!-- Style for Admin log in page
 -->
<style type="text/css">

/* Made with love by Mutiullah Samim*/

/*@import url('https://fonts.googleapis.com/css?family=Numans');
*/
html,body{
background-image: url('/assets/db1.jpg');
background-attachment: fixed;
background-size: 1480px 800px;
background-repeat: no-repeat;
background-position: center;
 width: 100%;
    height: 100%;}

		
   

/*font-family: 'Numans', sans-serif;
*/
			/*height: 100%;
			margin: 0;
			background: #7F7FD5;
	       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);*/
		}


</style>
</body>

