<!-- <div class="container">
	<h1>Welcome to home page</h1>

<p>1 Web Designing. Web designing is a great opportunity for those who want to work independently. ...
2 VFX and Animation. ...
3 Hardware and Networking courses. ...
4 Software and Programming Language courses. ...
5 Tally. ...
6 Cyber security courses. ...
7 Microsoft Office and Typing courses. ...
</p>

<h1>AboutUs</h1>

<p>Years of Experience and Expertise allows us to prepare the perfect study material for you. Subject-wise exhaustive course material covering complete examination syllabus with time saving tips and tricks, make our Correspondence & Publication Courses a must have for Government job aspirants. 🙂</p>

<h1>Contact Us</h1>

<p>Contact No. :  12345678</p>
<p>Email id : coachingcentergmail.com</p>
<style type="text/css">
	
	{background: rgb(238,174,202);
          background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}
</style>
</div> -->






    
		<div class="principal">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				<div class="carousel-item active">
				<div class="box">
				<div>This text is the content of the box. We have added a 50px padding, 20px margin and a 15px green border. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

				</div>
				</div>
				<div class="carousel-item">

				<div class="box">
				<div>This text is the content of the box. We have added a 50px padding, 20px margin and a 15px green border. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

				</div>
				</div>
				<div class="carousel-item">

				<div class="box">
				<p>	This text is the content of the box. We have added a 50px padding, 20px margin and a 15px green border. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				</div>
				</div>
				</div>

			</div>
 <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<style type="text/css">
	
	*{
		margin: 0;
		padding: 0;
	}

	.load{animation: 1s}

	.slider{background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100vh;
		animation: slide 40s infinite;
	}

	.content{color: #fff;
		width: 100%;
		height: 100vh;
		background-color: rgba(0,0,0,0.5);
}

		.principal{
			left: 50%;
			top: 70%;
			transform: translate(-50%,-50%);
			position: absolute;
			letter-spacing: 5px;
			text-align: center;
		}


		.box { 
		  width: 700px;
		  height: 400px;
		  padding: 60px;
		  color: #fff;
		background-color: rgba(0,0,0,0.5);
		font-family: Georgia, serif;
		font-size: 18px;
		letter-spacing: -0.2px;
		word-spacing: 2.8px;
		font-weight: 400;
		text-decoration: none solid rgb(68, 68, 68);
		font-style: italic;
		font-variant: normal;
		text-transform: capitalize;

		}

/*for automatice background
*/
		@keyframes slide {
			10%{background-image: url("https://cdn.pixabay.com/photo/2017/09/04/14/06/woman-2714174_960_720.jpg");}
			30%{background-image: url("https://cdn.pixabay.com/photo/2014/09/18/19/47/stones-451329_960_720.jpg");}
			50%{background-image: url("https://cdn.pixabay.com/photo/2018/01/10/13/22/energy-3073847_960_720.jpg");}
			40%{background-image: url("https://cdn.pixabay.com/photo/2020/01/19/11/31/inspiration-4777469_960_720.jpg");}
			50%{background-image: url("https://cdn.pixabay.com/photo/2015/01/15/16/17/hands-600497_960_720.jpg");}
			60%{background-image: url("https://cdn.pixabay.com/photo/2016/01/09/18/27/journey-1130732_960_720.jpg");}
			70%{background-image: url("https://www.gstatic.com/webp/gallery/1.jpg");}
			80%{background-image: url("https://www.gstatic.com/webp/gallery/2.jpg");}
			90%{background-image: url("https://www.gstatic.com/webp/gallery/3.jpg");}
			92%{background-image: url("https://www.gstatic.com/webp/gallery/4.jpg");}
			95%{background-image: url("https://www.gstatic.com/webp/gallery/5.jpg");}
			100%{background-image: url("https://www.gstatic.com/webp/gallery/4.jpg");}
		}
</style>