<!-- <div class="container">
	<h1>Welcome to home page</h1>

<p>1 Web Designing. Web designing is a great opportunity for those who want to work independently. ...
2 VFX and Animation. ...
3 Hardware and Networking courses. ...
4 Software and Programming Language courses. ...
5 Tally. ...
6 Cyber security courses. ...
7 Microsoft Office and Typing courses. ...
</p>

<h1>AboutUs</h1>

<p>Years of Experience and Expertise allows us to prepare the perfect study material for you. Subject-wise exhaustive course material covering complete examination syllabus with time saving tips and tricks, make our Correspondence & Publication Courses a must have for Government job aspirants. 🙂</p>

<h1>Contact Us</h1>

<p>Contact No. :  12345678</p>
<p>Email id : coachingcentergmail.com</p>
<style type="text/css">
	
	{background: rgb(238,174,202);
          background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}
</style>
</div> -->




		<div class="principal">
				<h1>Welcome to home page</h1>

<p>1 Web Designing. Web designing is a great opportunity for those who want to work independently. ...
2 VFX and Animation. ...
3 Hardware and Networking courses. ...
4 Software and Programming Language courses. ...
5 Tally. ...
6 Cyber security courses. ...
7 Microsoft Office and Typing courses. ...
</p>

			</div>

<style type="text/css">
	
	*{
		margin: 0;
		padding: 0;
	}

	.load{animation: 2s}

	.slider{background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100vh;
		animation: slide 50s infinite;
	}

	.content{color: #fff;
		width: 100%;
		height: 100vh;
		background-color: rgba(0,0,0,0.5);
}

		.principal{
			left: 50%;
			top: 70%;
			transform: translate(-50%,-50%);
			position: absolute;
			background-color: rgba(0,0,0,0.5);
			letter-spacing: 5px;
			text-align: center;
		}

		.principal h1{font-size: 60px;
			text-align: center;
			margin-bottom: 30px;
		color: #fff;}

			.principal p{font-size: 20px;
				text-align: center;
			color: #fff;}


		@keyframes slide {
			10%{background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");}
			30%{background-image: url("https://www.gstatic.com/webp/gallery/1.jpg");}
			50%{background-image: url("https://www.gstatic.com/webp/gallery/2.jpg");}
			40%{background-image: url("https://www.gstatic.com/webp/gallery/3.jpg");}
			50%{background-image: url("https://www.gstatic.com/webp/gallery/4.jpg");}
			60%{background-image: url("https://www.gstatic.com/webp/gallery/5.jpg");}
			70%{background-image: url("https://www.gstatic.com/webp/gallery/1.jpg");}
			80%{background-image: url("https://www.gstatic.com/webp/gallery/2.jpg");}
			90%{background-image: url("https://www.gstatic.com/webp/gallery/3.jpg");}
			92%{background-image: url("https://www.gstatic.com/webp/gallery/4.jpg");}
			95%{background-image: url("https://www.gstatic.com/webp/gallery/5.jpg");}
			98%{background-image: url("https://www.gstatic.com/webp/gallery/4.jpg");}
		}
</style>