<div class="container">
  <h1>Listing batches</h1>
<table class="table table-striped table-bordered">
  <tr>
    <th>batch name</th>
        <th colspan="1">Active</th>

  </tr>
 
  <% @batches.each do |batch| %>
    <tr>
      <td><%= batch.batch_name %></td>
      <td><%= link_to 'Show', batch_path(batch), class: "btn btn-success" %></td>
      
    </tr>
  <% end %>
</table>
</div>